
<h2>課題の登録ページ</h2>
<a>課題の登録ページです。課題名、授業名、課題の詳細を入力してください</a>



<%= form_tag("/task/add_task") do %>
        <textarea rows="1" cols="35" name="task">課題名を入力してください</textarea>
        <br>
        <br><textarea rows="1" cols="35" name="subject_name">授業名を入力してください</textarea>
        <br>
        <br><textarea rows="5" cols="35" name="detail">課題の内容を入力してください</textarea>
        <br>
        <br><textarea rows="1" cols="35" name="date">課題の期限を入力してください　例:9/28</textarea>
        <br><input type="submit" value="登録する">
<% end %>